<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="aston-martin.css">
</head>
<body>
    
    <div id="app">
        <div class="carList" v-for="(car, index) in cars" :key="index">
            <a :href="'payment.html?car=' + car.name" target="_blank">
                <h3>{{ car.name }}</h3>
            </a>
            <div class="carDetails">
                <p>Price: {{ car.price }}</p>
                <p>Year: {{ car.year }}</p>
                <p>Condition: {{ car.condition }}</p>
            </div>
            <img :src="car.image" :alt="car.name">
            <button @click="showPaymentForm(car)" id="openBtn">Make Payment</button>
        </div>

        <!-- Payment Form -->
        <div v-if="showForm" class="paymentForm" id="payment">
            <h3>Payment Form</h3>
            <form @submit.prevent="processPayment">
                <label for="name">Name:</label>
                <input type="text" id="name" v-model="paymentData.name" required><br>

                <label for="email">Email:</label>
                <input type="email" id="email" v-model="paymentData.email" required><br>

                <label for="cardNumber">Card Number:</label>
                <input type="text" id="cardNumber" v-model="paymentData.cardNumber" required><br>

                <button type="submit">Pay</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                cars: [
                    {
                        name: 'Aston Martin DB12',
                        price: '$799 999',
                        year: '2015',
                        condition: 'New',
                        image: 'lib/db12/IMG-20240430-WA0006.jpg'
                    },
                    {
                        name: 'Aston Martin Vulcan',
                        price: '$799 999',
                        year: '2015',
                        condition: 'New',
                        image: 'lib/vulcan/IMG-20240430-WA0013.jpg'
                    },
                    {
                        name: 'Aston Martin Valkyrie',
                        price: '$799 999',
                        year: '2015',
                        condition: 'New',
                        image: 'lib/valkyrie/IMG-20240430-WA0010.jpg'
                    }
                ],
                showForm: false,
                paymentData: {
                    name: '',
                    email: '',
                    cardNumber: '',
                }
            },
            methods: {
                showPaymentForm(car) {
                    this.showForm = true;

                },
                processPayment() {

                    // console.log('Payment data:', this.paymentData);

                    this.paymentData = {
                        name: '',
                        email: '',
                        cardNumber: '',
                    };
                    this.showForm = false;

                }
            }
        });
    </script>
    <!-- <script src="aston-martin.js"></script> -->
</body>
</html>