
.header{
    display: flex;
    margin-left: 100px;
    text-align: center;
}
.header h1{
    font-size: 40px;
    padding: 15px;
    margin-right: 300px;
}

.header a{
    padding-inline-end: 30px;
    padding-inline-start: 60px;
    float: right;
    margin-top: 50px;
    text-align: right;
    font-size: large;
    margin-left: 5px;
}

.catalog{
    display: flex;
    margin-left: 11%;
    margin-top: 30px;
    flex-direction: row;
}

.carList{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.carList img{
    max-width: 350px;
    height: auto;
}